<a href="https://colab.research.google.com/github/andrealvzvz/Actividad-2.1-Reto-1/blob/main/2.2/Actividad_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd

In [11]:
#Carga desde un archivo .csv sin indice
df = pd.read_csv("inmuebles2.csv")
df

,Unnamed: 0,Esta es una base de datos que describe las operaciones inmobiliarias de una empresa,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
1,1,1,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291,2133903,2004-06-19 00:00:00,Carmen
2,2,2,2004-01-01 00:00:00,Local,Venta,Girona,185,1945424,2004-04-19 00:00:00,Pedro
3,3,3,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82,NaN,2004-11-08 00:00:00,Joaquín
4,4,4,2004-01-02 00:00:00,Parking,Alquiler,Girona,285,NaN,2004-04-27 00:00:00,Jesús
...,...,...,...,...,...,...,...,...,...,...
3333,3333,3333,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221,1450644,NaN,NaN
3334,3334,3334,2007-04-29 00:00:00,Piso,Alquiler,Girona,55,454080,NaN,NaN
3335,3335,3335,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78,740688,NaN,NaN
3336,3336,3336,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88,397408,NaN,NaN
3337,3337,3337,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712,NaN,NaN

In [12]:
#a) Eliminar la fila “0” de “Unnamed” y Eliminar la columna “0” de “Referencia”
df1 = pd.read_csv("inmuebles2.csv", skiprows=1)
df1

,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,1,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2,2,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,3,3,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,4,4,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,5,5,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...,...,...
3332,3333,3333,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,NaN
3333,3334,3334,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,NaN
3334,3335,3335,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,NaN,NaN
3335,3336,3336,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,NaN
3336,3337,3337,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712.0,NaN,NaN

In [13]:
#Eliminar columnas innecesarias
#axis = 1 para columnas
#axis = 0 para filas
df2 = df1.drop([df1.columns[0],'Referencia'], axis=1)
df2

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,NaN,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712.0,NaN,NaN

In [14]:
#2 Todos las registros de “Fecha Alta : igual a 2007-04-29 00:00:00 y a 2004-01-02 00:00:00
filtro2 = df2[(df2['Fecha Alta'] == "2007-04-29 00:00:00") & (df2['Fecha Alta'] == "2004-01-02 00:00:00")]
filtro2

Empty DataFrame
Columns: [Fecha Alta, Tipo, Operación, Provincia, Superficie, Precio Venta, Fecha Venta, Vendedor]
Index: []

In [15]:
# 3 Todos los registros de “ Tipo: parking, local, industrial y piso”
filtro3 = df2[(df2["Tipo"] == "Parking") | (df2["Tipo"] == "Local") | (df2["Tipo"] == "Industrial") | (df2["Tipo"] == "Piso")]
filtro3

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
5,2004-01-03 00:00:00,Industrial,Alquiler,Girona,131.0,953156.0,2004-09-05 00:00:00,Pedro
8,2004-01-04 00:00:00,Piso,Alquiler,Lleida,108.0,1024380.0,2004-12-28 00:00:00,Jesús
...,...,...,...,...,...,...,...,...
3330,2007-04-27 00:00:00,Local,Venta,Girona,110.0,845790.0,NaN,NaN
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712.0,NaN,NaN

In [16]:
# 4 Todos los registros con “Provincia” igual a “Girona” y con “Superficie” mayor a “100”
filtro4 = df2[(df2['Provincia'] == "Girona") & (df2['Superficie'] > 100)]
print(filtro4)

               Fecha Alta        Tipo Operación Provincia  Superficie  \
1     2004-01-01 00:00:00       Local     Venta    Girona       185.0
3     2004-01-02 00:00:00     Parking  Alquiler    Girona       285.0
5     2004-01-03 00:00:00  Industrial  Alquiler    Girona       131.0
7     2004-01-03 00:00:00     Oficina     Venta    Girona       235.0
10    2004-01-04 00:00:00     Oficina  Alquiler    Girona       124.0
...                   ...         ...       ...       ...         ...
3299  2007-04-12 00:00:00       Local  Alquiler    Girona       156.0
3303  2007-04-12 00:00:00        Piso     Venta    Girona       128.0
3306  2007-04-14 00:00:00     Parking     Venta    Girona       221.0
3316  2007-04-20 00:00:00        Casa     Venta    Girona       247.0
3330  2007-04-27 00:00:00       Local     Venta    Girona       110.0

      Precio Venta          Fecha Venta Vendedor
1        1945424.0  2004-04-19 00:00:00    Pedro
3              NaN  2004-04-27 00:00:00    Jesús
5         953156.0  2004-09-05 00:00:00    Pedro
7        2158475.0  2004-10-31 00:00:00    Jesús
10        627068.0  2004-10-28 00:00:00    Pedro
...            ...                  ...      ...
3299      881868.0                  NaN      NaN
3303     1270400.0                  NaN      NaN
3306     1533077.0                  NaN      NaN
3316     1804088.0                  NaN      NaN
3330      845790.0                  NaN      NaN

[651 rows x 8 columns]

In [17]:
# 5 Todos los registros con “Precio Venta: mayor a 1000,000” o “vendedor” igual a “Carmen o Joaquin”
filtro5 = df2[(df2["Precio Venta"] > 1000000) | (df2["Vendedor"].isin(["Carmen", "Joaquin"]))]
print(filtro5)

               Fecha Alta        Tipo Operación  Provincia  Superficie  \
0     2004-01-01 00:00:00     Parking  Alquiler     Lleida       291.0
1     2004-01-01 00:00:00       Local     Venta     Girona       185.0
7     2004-01-03 00:00:00     Oficina     Venta     Girona       235.0
8     2004-01-04 00:00:00        Piso  Alquiler     Lleida       108.0
9     2004-01-04 00:00:00     Parking     Venta     Lleida       299.0
...                   ...         ...       ...        ...         ...
3325  2007-04-25 00:00:00  Industrial  Alquiler        NaN       296.0
3328  2007-04-26 00:00:00        Piso     Venta  Barcelona       264.0
3331  2007-04-29 00:00:00     Oficina     Venta     Lleida       190.0
3332  2007-04-29 00:00:00  Industrial  Alquiler     Lleida       221.0
3336  2007-04-30 00:00:00     Parking     Venta     Lleida         NaN

      Precio Venta          Fecha Venta Vendedor
0        2133903.0  2004-06-19 00:00:00   Carmen
1        1945424.0  2004-04-19 00:00:00    Pedro
7        2158475.0  2004-10-31 00:00:00    Jesús
8        1024380.0  2004-12-28 00:00:00    Jesús
9        2042768.0  2004-10-06 00:00:00  Joaquín
...            ...                  ...      ...
3325     2078216.0                  NaN      NaN
3328     2517504.0                  NaN      NaN
3331     1031320.0                  NaN      NaN
3332     1450644.0                  NaN      NaN
3336     2140712.0                  NaN      NaN

[2099 rows x 8 columns]

In [18]:
# 6 Todos los registros que no sean de “Provincia : Barcelona“
filtro6 = df2[~(df2["Provincia"] == "Barcelona")]
print(filtro6)

               Fecha Alta        Tipo Operación  Provincia  Superficie  \
0     2004-01-01 00:00:00     Parking  Alquiler     Lleida       291.0
1     2004-01-01 00:00:00       Local     Venta     Girona       185.0
2     2004-01-01 00:00:00     Oficina  Alquiler     Girona        82.0
3     2004-01-02 00:00:00     Parking  Alquiler     Girona       285.0
4     2004-01-02 00:00:00       Suelo     Venta  Tarragona       152.0
...                   ...         ...       ...        ...         ...
3331  2007-04-29 00:00:00     Oficina     Venta     Lleida       190.0
3332  2007-04-29 00:00:00  Industrial  Alquiler     Lleida       221.0
3333  2007-04-29 00:00:00        Piso  Alquiler     Girona        55.0
3334  2007-04-30 00:00:00       Suelo     Venta  Tarragona        78.0
3336  2007-04-30 00:00:00     Parking     Venta     Lleida         NaN

      Precio Venta          Fecha Venta Vendedor
0        2133903.0  2004-06-19 00:00:00   Carmen
1        1945424.0  2004-04-19 00:00:00    Pedro
2              NaN  2004-11-08 00:00:00  Joaquín
3              NaN  2004-04-27 00:00:00    Jesús
4         185000.0  2004-07-10 00:00:00    María
...            ...                  ...      ...
3331     1031320.0                  NaN      NaN
3332     1450644.0                  NaN      NaN
3333      454080.0                  NaN      NaN
3334      740688.0                  NaN      NaN
3336     2140712.0                  NaN      NaN

[2503 rows x 8 columns]

In [19]:
#7 Todos los registros que no sean de “Operación: alquiler “ ni “Tipo: oficina“
filtro7 = df2[~(df2["Operación"] != "Alquiler") & ~(df2["Tipo"] != "Oficina")]
print(filtro7)

               Fecha Alta     Tipo Operación  Provincia  Superficie  \
2     2004-01-01 00:00:00  Oficina  Alquiler     Girona        82.0
10    2004-01-04 00:00:00  Oficina  Alquiler     Girona       124.0
19    2004-01-08 00:00:00  Oficina  Alquiler  Barcelona       148.0
21    2004-01-09 00:00:00  Oficina  Alquiler     Lleida       116.0
23    2004-01-10 00:00:00  Oficina  Alquiler  Tarragona        79.0
...                   ...      ...       ...        ...         ...
3277  2007-04-05 00:00:00  Oficina  Alquiler  Barcelona       146.0
3291  2007-04-10 00:00:00  Oficina  Alquiler  Tarragona       100.0
3315  2007-04-19 00:00:00  Oficina  Alquiler  Barcelona       146.0
3317  2007-04-21 00:00:00  Oficina  Alquiler     Lleida        95.0
3319  2007-04-22 00:00:00  Oficina  Alquiler  Tarragona        44.0

      Precio Venta          Fecha Venta Vendedor
2              NaN  2004-11-08 00:00:00  Joaquín
10        627068.0  2004-10-28 00:00:00    Pedro
19       1169496.0  2004-08-19 00:00:00    María
21        727552.0  2004-04-14 00:00:00    Pedro
23             NaN  2004-12-01 00:00:00  Joaquín
...            ...                  ...      ...
3277      725474.0                  NaN      NaN
3291      787400.0                  NaN      NaN
3315     1063902.0                  NaN      NaN
3317      394250.0                  NaN      NaN
3319      293172.0                  NaN      NaN

[222 rows x 8 columns]

In [20]:
filtro2.to_csv("RetoFiltro2.2.csv")
filtro3.to_csv("RetoFiltro2.3.csv")
filtro4.to_csv("RetoFiltro2.4.csv")
filtro5.to_csv("RetoFiltro2.5.csv")
filtro6.to_csv("RetoFiltro2.6.csv")
filtro7.to_csv("RetoFiltro2.7.csv")